body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
  }
  
  header {
    text-align: center;
    padding: 50px 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .quote {
    font-style: italic;
    color: #555555;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    margin-right: 15px; /* Adds space between the links */
    text-decoration: none;
    color: #007bff; /* Adjust color if needed */
    font-weight: bold;
  }
  
  nav a:last-child {
    margin-right: 0; /* Removes extra space after the last link */
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-me p {
    line-height: 1.6;
    margin: 15px 0;
  }
  
  footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  .contact-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-info li {
    margin: 5px 0;
  }
  
  .contact-info a {
    text-decoration: none;
    color: #007bff;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .project-image {
    max-width: 300px; 
    max-height: 200px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    object-fit: contain; 
    margin-top: 15px;
  }